html{margin:0;padding:0}
body{margin:0;padding:0;background-color:snow}

/* Navbar */
.navbar{
	background-color:silver;
	border-radius:0;
}

/* Logo */
.navbar-brand{
	height:auto;
}
.logo{max-width:200px}