html{margin:0;padding:0}
body{margin:0;padding:0;background-color:snow}

/* Navbar */
.navbar{
	border-radius:0;
}

/* Navbar container */
.container-fluid{
	padding-right: 150px;
	padding-left: 150px;
}

/* Logo */
.navbar-brand{
	height:auto;
	padding: 0 15px;
}
.logo{
	max-height:50px
}